<div class="center-content">
	<%= error_messages_for :message, :header_message => "There was an error with your message:" %>
	<h3 class="no-top">Compose a message</h3>
	<% form_for( @message, :url => send_composed_messages_path(current_user) ) do |f| %>
	
  <div class="h40">
  	<%= f.label :reciever %><br />
	<%= text_field_with_auto_complete :message, 
									  :reciever,
									  {:autocomplete => 'off',
									   :before => "Element.show('spinner-reciever')",
	  								  :complete => "Element.hide('spinner-reciever')"},
									  {:method => :get, :skip_style => true, :url => {:action => 'auto_complete_reciever'}, :class => 'inline' } %>
  <span class="spinner" id="spinner-reciever" style="display: none;">&nbsp;</span>
  <span id="reciever_status"></span>
  </div>
	
  <p>
		<%= f.label :subject %><br />
		<%= f.text_field :subject, :size => 73 %>
	</p>
  <p>
  	<span class="right-px">
  		<span class="spinner" id="spinner-preview" style="display: none;">&nbsp;</span>
		<span id="preview-link">
  		<%= render :partial => 'preview/show_preview_3000' %>
		</span>
	</span>
	<%= f.label :text %><br />
	<%= f.text_area :text, :rows => 15, :cols => 55, :id => 'text-3000' %><br />
	<span class="right-px">You may use <%= link_to 'Textile', {:controller => 'static', :action => 'textile'}, :popup => ['Textile Short Reference', 'height=800,width=600, scrollbars=yes'] %> syntax, but no HTML</span>
	(<span id="counter-text-3000">#</span> characters)
  </p>
  
  <div id="preview" style="display: none">
  	<strong>Preview:</strong>
  	<div id="result" class="message-text"></div>
  </div>
  
  	<p>
  		<%= check_box_tag 'save_to_outbox' %>
		<%= label_tag "Save message to your outbox?" %>
	</p>
	<p>
  		<%= f.submit "Send" %>
	</p>
<% end %>

<div id="observer"></div>

</div>