<div class="margin-left">
<h3>New mix
<%= 'for <em>' + h(@artist.name) + '</em>' if @artist %>
<%= 'for <em>' + h(@track.name) + '</em>' if @track %>
</h3>

<%= error_messages_for 'mix', :header_message => "The form could not be submitted.",
								 :message => "Please check the following details:",
								 :header_tag => 'h3' %>

<% form_for( @mix, :url => {:action => 'check_new',
							  :artist_id => params[:artist_id],
							  :track_id => params[:track_id]} )do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= text_field_with_auto_complete :mix, :name, {:autocomplete => 'off'}, {:method => :get, :skip_style => true} %>
  </p>
  <p>
  	<%= f.label :release_date %><br />
  	<%= f.date_select :release_date, :order => [:year], :start_year => 1970, :end_year => Time.now.year, :include_blank => true %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
</div>