<p class="group-name">
	<%=h @group.title %>
</p>

<%= render :partial => 'shared/groups/admin_menu' %>

<%= link_to 'Give away group administration', give_away_form_group_path(@group) %>

<% form_for @group, :html => { :multipart => true} do |f| %>
  <%= f.error_messages :header_message => "The form could not be submitted.",
					   :message => "Please check the following details:",
					   :header_tag => 'h3' %>

  <p>
  	<%= f.label :title %><br />	
	<%= f.text_field :title, :size => 73 %>
  </p>
  <p>
  	<span class="right-px">
  		<span class="spinner" id="spinner-preview" style="display: none;">&nbsp;</span>
		<span id="preview-link">
  		<%= render :partial => 'preview/show_preview_3000' %>
		</span>
	</span>
	<%= f.label :description %><br />
	<%= f.text_area :description, :rows => 15, :cols => 55, :id => 'text-3000' %><br />
	<span class="right-px">You may use <%= link_to 'Textile', {:controller => 'static', :action => 'textile'}, :popup => ['Textile Short Reference', 'height=800,width=600, scrollbars=yes'] %> syntax, but no HTML</span>
	(<span id="counter-text-3000">#</span> characters)
  </p>
  
  <div id="preview" class="description" style="display: none">
  	<strong>Preview:</strong>
  	<div id="result" class="text"></div>
  </div>
  
  <p>
  	<%= f.label :logo, 'Upload a logo' %><br />
	<%= f.file_field :logo %>
  </p>
  <p>
  	<%= f.check_box :public %>
	<%= f.label :public, 'Messages of this group are public' %>
  </p>
  <p>
  	<%= f.check_box :locked, :id => 'observable' %>
  	<%= f.label :locked, 'Users who want to join have to request first' %>
  </p>
  
  <div id="join_requests" <%unless @group.locked-%>style="display:none;"<%end-%>>
  	<%= f.check_box :join_requests %>
  	<%= f.label :join_requests, 'Recieve e-mail notifications on join requests' %>
  </div>
  <%= observe_field 'observable',
      :frequency => 0.5,
	  :function => "if(value == '1') {Effect.BlindDown('join_requests');} else {Effect.BlindUp('join_requests');}"  %>
  		
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<div id="observer"></div>
