	<li>
		<div>
			<%= link_to image_tag( user.avatar.url(:thumb) ), user, :class => 'usrImg' %>
			<% if user.online? %>
			<div class="statusOn" title="online">
				&nbsp;
			</div>
			<% else %>
			<div class="statusOff" title="online">
				&nbsp;
			</div>
			<% end %>
			<strong><%= link_to( h(user.login), user ) %></strong>
		</div>
		<div class="usrInfo clear">
			<% unless user.members.blank? -%>
			<div class="noMessanges" title="Number of news-messages this user wrote.">
				<%= user.members.last.no_messages %>
			</div>
			<% end -%>
			<div class="usrAge">
				<span class="usrStatHead">Age:</span>
				<%= show_age user %>
			</div>
			<div class="usrCountry">
				<span class="usrStatHead">Country:</span>
				<%= show_country user %>
			</div>
		</div>
		<div class="clear"></div>
	</li>
