<div id="menu">
			
			<div id="m01"></div>
			<div id="m02"></div>
			<div id="m03"></div>
			<div id="m04"></div>
			
			<!--<div id="menu-header">
				Menu
			</div>
			
			<ul>
				<% li_with_class_if( (params[:controller] == 'music' ||
									  params[:controller] == 'labels'||
									  params[:controller] == 'artists' ||
									  params[:controller] ==  'tracks'), 'current' ) do %>
					<%= link_to_unless_current( "Music" , {:controller => 'music' } ) %>
					
					<ul class="sub-menu">
						<% li_with_class_if( params[:controller] == 'labels', 'current-sub' ) do %>
							<%= link_to_unless_current( "Labels" , {:controller => 'labels' } ) %>
						<% end %>
						<% li_with_class_if( params[:controller] == 'artists', 'current-sub' ) do %>
							<%= link_to_unless_current( "Artists" , {:controller => 'artists' } ) %>
						<% end %>
						<% li_with_class_if( params[:controller] == 'tracks', 'current-sub' ) do %>
							<%= link_to_unless_current( "Tracks" , {:controller => 'tracks' } ) %>
						<% end %>
					</ul>
				<% end %>
				
				<% li_with_class_if( params[:controller] == 'releases', 'current' ) do %>
					<%= link_to_unless_current( "Releases" , {:controller => 'releases' } ) %>
				<% end %>
				
				<% li_with_class_if( params[:controller] == 'users', 'current' ) do %>
					<%= link_to_unless_current( "People" , {:controller => 'users' } ) %>
				<% end %>
				
				<% li_with_class_if( params[:controller] == 'groups' || params[:controller] == 'members', 'current' ) do %>
					<%= link_to_unless_current( "Groups" , {:controller => 'groups' } ) %>
				<% end %>
			</ul>
			
		</div>-->