<% if current_user == @user %>
<%= render :partial => 'users/user_menu' %>
<% else %>
<%= render :partial => 'users/foreign_user_menu', :object => @user %>
<% end %>

<% unless @music.empty? -%>
<%= render :partial => 'shared/order_by' %>
<table class="list-entries">
	<% for item in @music do %>
	<%= render :partial => 'item', :object => item %>
	<% end %>
</table>

<%= will_paginate @music, :inner_window => 1, :outer_window => 1, :order => params[:order] %>

<div class="page-count">
	(Showing <%= @from %> - <%=  @to %> / <%= @total %>)
</div>

<% else %>
<p class="center">
	No fovourites.
</p>
<% end %>
