<p class="center">
	Labels, Tracks and Arists tagged with<strong>"<%=h params[:id] %>"</strong>
</p>
<%= render :partial => 'shared/order_by' %>
<table class="list-entries">
	<% for item in @music do %>
	<%= render :partial => 'item', :object => item %>
	<% end %>
</table>

<%= will_paginate @music, :inner_window => 1, :outer_window => 1, :order => params[:order] %>

<div class="page-count">
	(Showing <%= @from %> - <%=  @to %> / <%= @total %>)
</div>
