<%= render :partial => 'projects/members_menu', :object => @project %>

<h3>New release</h3>

<p>
	Each upload will get reviewed and either published or declined (each project member will get a e-mail notiffication).
	Each uploaded file gets the state <i>pending</i>. Up to three pending files are allowed. If your project has no published releases, 
	the third decline will cause, that you can upload no more files. As well as each project, that consists of the exactly same members.
</p>
<p>
	Currently this project has <br />
	<%= @project.published_releases %> published releases,<br />
	<%= @project.pending_releases %> pending releases,<br />
	<%= @project.declined_releases %> declined releases.
</p>

<% if @project.has_quota? current_user -%>

<em>The cover and meta-data of the audio file will get modified!</em><br />
See <%= link_to 'release policy', {:controller => 'static',
								  :action => 'release_policy'},
								  :popup => ['computer-beatz Release Policy', 'height=270,width=650'] %> for further explanation.

<% form_for(@release, :url => project_releases_path(@project), :html => { :multipart => true}) do |f| %>
  <%= f.error_messages :header_message => "The form could not be submitted.",
					   :message => "Please check the following details:",
					   :header_tag => 'h3' %>
  <p>
  	<em>Fields marked with * are required.</em>
  </p>
  <p>
    <%= f.label :name, 'Title' %>*<br />
    <%= f.text_field :name, :size => 73 %>
  </p>
  <p>
  	<span class="right-px">
  		<span class="spinner" id="spinner-preview" style="display: none;">&nbsp;</span>
		<span id="preview-link">
  		<%= render :partial => 'preview/show_preview_no_limit' %>
		</span>
	</span>
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 15, :cols => 55, :id => 'text-no-limit' %>
	<span class="right-px">You may use <%= link_to 'Textile', {:controller => 'static', :action => 'textile'}, :popup => ['Textile Short Reference', 'height=800,width=600, scrollbars=yes'] %> syntax, but no HTML</span>
  </p>
  <div id="preview" class="description" style="display: none">
  	<strong>Preview:</strong>
  	<div id="result" class="text"></div>
  </div>
  <p class="mT40px clear">
  	<%= f.label :audio, 'Audio file' %>*<br />
	Only MP3 with a bitrate of 128 kBit/s will be accepted. Must be less than 12MB.<br />
	<%= f.file_field :audio %>
  </p>
  <p>
  	<%= f.label :cover, 'Cover' %><br />
	Prefarable size is at least 800px x 800px, must be less than 3MB.<br />
	<%= f.file_field :cover %>
  </p>
  <p>
    <%= f.submit 'Upload' %>
  </p>
<% end %>

<div id="observer"></div>

<% else -%>
<p>
	<b>You can not upload any more audio files.</b>
</p>
<% end -%>

<p><%= link_to( '&lt;&lt;Back', project_path(@project) ) %></p>