<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= page_title %>
  <%= meta "description" , meta_description %>
  <%= meta "keywords" , meta_keywords %>
  <%= auto_discovery_link_tag(:rss, {:controller => 'feed' , :action => 'news' }) %>
  <link rel="SHORTCUT ICON" href="/images/favicon.ico" />
  <%= stylesheet_link_tag 'COMPUTER-BEATZ' %>
  <%= javascript_include_tag :defaults %>
</head>
<body id="frontpage">
	
	<div id="header-app">
		
				<div id="credit">
					Photo by <%= link_to 'pokpok313', 'http://www.flickr.com/people/pokpok/?search=pokpok313', :target => 'blank' %>
				</div>
		
	</div>
	
	<div id="header2-app">
		
		<div id="search-groups">
			<% form_for :search, :url => { :controller => 'groups', :action => 'search' },
								:html => { :id => 'top-search' } do |f| %>
			<%= text_field :search, :query %>
			<%= submit_tag 'Search' %>
			<% end %>
		</div>
		
		<%= render :partial => 'shared/head2_sub' %>
		
				<%= render :partial => 'shared/adverts_right' %>
		
				<div id="main">
					<% if flash[:notice] -%>
					<div id="notice">
						<%= flash[:notice] %>
					</div>
					<% end -%>
					<% if flash[:error] -%>
					<div id="error">
						<%= flash[:error] %>
					</div>
					<% end -%>
				
					<%= yield :layout %>
				</div>
		
	<%= render :partial => 'shared/foot' %>
