<%= render  :partial => 'shared/groups/menu' %>

<div class="top-content-container">
	<div class="head">
			<div>Order by:</div>
			<% unless params[:order] == 'name' || params[:order].blank? %>
			<%= link_to 'Name', :action => 'index' %>&nbsp;
			<% else %>
			<span class="current">Name</span>
			<% end %>
		
			<% unless params[:order] == 'login' %>
			<%= link_to 'Last seen', :action => 'index', :order => 'login' %>&nbsp;
			<% else %>
			<span class="current">Last seen</span>
			<% end %>
		
			<% unless params[:order] == 'messages' %>
			<%= link_to 'No. Messages', :action => 'index', :order => 'messages' %>&nbsp;
			<% else %>
			<span class="current">No. Messages</span>
			<% end %>
	</div>
</div>

<ul class="user-list">
<% for user in @members do %>
	<li>
		<div>
			<%= link_to image_tag( user.avatar.url(:thumb) ), user, :class => 'usrImg' %>
			<% if user.online? %>
			<div class="statusOn" title="online">
				&nbsp;
			</div>
			<% else %>
			<div class="statusOff" title="online">
				&nbsp;
			</div>
			<% end %>
			<strong><%= link_to( h(user.login), user ) %></strong>
		</div>
		<div class="usrInfo clear">
			<div class="noMessanges" title="Number of news-messages this user wrote.">
				<%= user.members.last.no_messages %>
			</div>
			<div class="usrAge">
				<span class="usrStatHead">Age:</span>
				<%= show_age user %>
			</div>
			<div class="usrCountry">
				<span class="usrStatHead">Country:</span>
				<%= show_country user %>
			</div>
		</div>
		<div class="clear"></div>
	</li>
<% end %>
</ul>

<%= will_paginate @members, :inner_window => 1, :outer_window => 1, :params => {:query => @query, :order => @order} %>

<div class="page-count">
	(Showing <%= @from %> - <%=  @to %> / <%= @total %>)
</div>